@charset "UTF-8";


.search-container{
	position:relative;
	
}
.search-result{
	position:absolute;
	background:white;
	width:100%;
	padding:10px;
	border:1px solid gray;
	display:none;
	
	
}
.attTable{
	overflow:scroll;
	padding:20px;
	height: 400px;
}


