<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>home</title>

</head>
<body>




   <th:block  th:insert="Header.html"></th:block>
     <div class="container-fluid">
   
      <div class="card">
       
        <div class="card-header bg-primary text-white text-center">
          <h4>Employment Management System</h4>
        </div>
        
        <div class="card-body">
                 <img class="profile" alt="" src="" th:src="@{/images/banner copy.jpeg}">
                 
        </div>
        
        
        <div class="card-footer text-center bg-warning">
           <h6>copyright@2023</h6>
        </div>
      
     	</div>
   
  </div>
   
  


</body>
</html>